header {
  display: flex;
  height: 80vh;
  background-image: url("/assets/images/frutas_productos.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center/cover;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  /* oscurece la imagen */
  z-index: 0;
}

header .text {
  filter: drop-shadow(0 0 1px black);
}

header .text p {
  font-size: 2.1rem;
  font-weight: 600;
}

.products-container {
  padding: 2rem;
}

.section-title,
mat-card-title {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.product-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

}

.product-card img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.product-card:hover {
  transform: translateY(-5px);
}

mat-card-content p {
  font-size: 20px;
}

.tes_image,
.botanas_image {
  width: 400px;
}

@media (max-width: 768px) {
  header {
    background-size: cover;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 40px;
    line-height: 32px;
    font-weight: 700;
  }

  header {
    background-size: cover;
  }

  header .text p {
    font-size: 25px;
    line-height: 26px;
    font-weight: 500;
  }

  .products-container p {
    font-size: 1.2rem;
  }

  .products-container li {
    margin-bottom: 8px;
    padding-left: 1.2rem;
    position: relative;
    line-height: 1.5rem;
    font-size: 1.1rem;
  }

  .tes_image,
  .botanas_image {
    width: 320px;
  }

}
