<body>
  <header>
    <div class="text">
      <h2>Nuestros Productos</h2>
      <h1>Bloom &amp; Berry</h1>
      <p>Siempre naturales, sin conservadores.</p>
    </div>

  </header>
  <span>
    Foto de
    <a
      href="https://unsplash.com/es/@emmanuelphaeton?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
      Emmanuel Phaeton
    </a> en
    <a
      href="https://unsplash.com/es/fotos/un-tazon-de-fruta-en-un-plato-1N7Ftmynp48?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
      Unsplash
    </a>
  </span>

  <section class="products-container">
    <h2>Galeria de productos</h2>
    <h3> Mermeladas y Conservas </h3>
    <div class="card-grid">
      <mat-card *ngFor="let category of productCategories" class="product-card">
        <img mat-card-image [src]="category.image" alt="Foto de mermeladas o conservas">
        <mat-card-header>
          <mat-card-title>{{ category.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let item of category.items">{{ item }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Presentaciones -->
    <h2 class="section-title">Presentaciones y Gramajes</h2>
    <div class="card-grid">
      <mat-card *ngFor="let pres of productPresentations" class="product-card">
        <mat-card-header>
          <mat-card-title>{{ pres.type }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ pres.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Packs -->
    <h2 class="section-title">Packs</h2>
    <div class="card-grid">
      <mat-card *ngFor="let pack of productPacks" class="product-card">
        <mat-card-header>
          <mat-card-title>{{ pack.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ pack.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  <section class="products-container">
  <h2>Tes y Tesinas</h2>
  <img class="tes_image" src="assets/images/TES.webp" alt="Foto de los Tes en sus envases elegantes">
    <div class="card-grid">
      <mat-card *ngFor="let item of tesCategories" class="product-card">
        <mat-card-header>
          <mat-card-title>{{ item.sabor }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.ingredientes }}</p>
          <p>{{ item.beneficios }}</p>
          <p>{{ item.presentacion }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  <section class="products-container">
  <h2>Botanas</h2>

  <img class="botanas_image" src="assets/images/botanas.webp" alt="Foto de una bolsa, con botanas diversas como: pepitas, nueces, nueces de la india, arandanos, pasas, etc">

  </section>

</body>
